In [1]:
import math
import random

import pandas as pd
import transformers
from datasets import ClassLabel, load_dataset
from IPython.display import HTML, display
from transformers import (
    AutoModelForMaskedLM,
    AutoTokenizer,
    DataCollatorForLanguageModeling,
    Trainer,
    TrainingArguments,
)

In [2]:
dataset_name = "uestc-swahili/swahili"
datasets = load_dataset(dataset_name)

In [3]:
datasets

DatasetDict({
    train: Dataset({
        features: ['text'],
        num_rows: 42069
    })
    test: Dataset({
        features: ['text'],
        num_rows: 3371
    })
    validation: Dataset({
        features: ['text'],
        num_rows: 3372
    })
})

In [4]:
datasets["train"][0]

{'text': 'taarifa hiyo ilisema kuwa ongezeko la joto la maji juu ya wastani katikati ya bahari ya UNK inaashiria kuwepo kwa mvua za el nino UNK hadi mwishoni mwa april ishirini moja sifuri imeelezwa kuwa ongezeko la joto magharibi mwa bahari ya hindi linatarajiwa kuhamia katikati ya bahari hiyo hali ambayo itasababisha pepo kutoka kaskazini mashariki kuvuma kuelekea bahari ya hindi'}

In [5]:
def show_random_elements(dataset, num_examples=10):
    assert num_examples <= len(
        dataset
    ), "Can't pick more elements than there are in the dataset."
    picks = []
    for _ in range(num_examples):
        pick = random.randint(0, len(dataset) - 1)
        while pick in picks:
            pick = random.randint(0, len(dataset) - 1)
        picks.append(pick)

    df = pd.DataFrame(dataset[picks])
    for column, typ in dataset.features.items():
        if isinstance(typ, ClassLabel):
            df[column] = df[column].transform(lambda i: typ.names[i])
    display(HTML(df.to_html()))


show_random_elements(datasets["train"])

In [6]:
def tokenize_function(examples):
    return tokenizer(examples["text"])


model_checkpoint = "xlm-roberta-base"
tokenizer = AutoTokenizer.from_pretrained(model_checkpoint, use_fast=True)
tokenized_datasets = datasets.map(
    tokenize_function, batched=True, num_proc=4, remove_columns=["text"]
)

/opt/anaconda3/envs/development/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:1601: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be depracted in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [7]:
tokenized_datasets

DatasetDict({
    train: Dataset({
        features: ['input_ids', 'attention_mask'],
        num_rows: 42069
    })
    test: Dataset({
        features: ['input_ids', 'attention_mask'],
        num_rows: 3371
    })
    validation: Dataset({
        features: ['input_ids', 'attention_mask'],
        num_rows: 3372
    })
})

In [8]:
tokenized_datasets["train"][10]

{'input_ids': [0,
  150722,
  151,
  12967,
  151,
  149362,
  10790,
  6,
  180323,
  177769,
  228,
  186214,
  28803,
  6,
  180323,
  228,
  85407,
  14102,
  24,
  32825,
  75,
  68428,
  10475,
  760,
  291,
  4390,
  4542,
  12209,
  686,
  259,
  130719,
  1499,
  92704,
  291,
  1783,
  157,
  2],
 'attention_mask': [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1]}

In [9]:
show_random_elements(tokenized_datasets["train"])

In [10]:
import math

print(f"Model maximum block size: {tokenizer.model_max_length}")
# block_size = tokenizer.model_max_length
block_size = 128
batch_size = 1000
print(f"Block size: {block_size}")

for type in ["train", "test", "validation"]:
    num_tokens = sum(
        [len(input_ids) for input_ids in tokenized_datasets[type]["input_ids"]]
    )
    print(
        f"The number of tokens in {type}: {num_tokens}, this will be ~{round(num_tokens / block_size)} blocks."
    )

Model maximum block size: 512
Block size: 128
The number of tokens in train: 1865542, this will be ~14575 blocks.
The number of tokens in test: 166669, this will be ~1302 blocks.
The number of tokens in validation: 159984, this will be ~1250 blocks.

In [11]:
def group_texts(examples):
    concatenated_examples = {k: sum(examples[k], []) for k in examples.keys()}
    total_length = len(concatenated_examples[list(examples.keys())[0]])
    total_length = (total_length // block_size) * block_size
    result = {
        k: [t[i : i + block_size] for i in range(0, total_length, block_size)]
        for k, t in concatenated_examples.items()
    }
    result["labels"] = result["input_ids"].copy()
    return result

In [12]:
lm_datasets = tokenized_datasets.map(
    group_texts,
    batched=True,
    batch_size=1000,
    num_proc=4,
)

In [13]:
lm_datasets

DatasetDict({
    train: Dataset({
        features: ['input_ids', 'attention_mask', 'labels'],
        num_rows: 14552
    })
    test: Dataset({
        features: ['input_ids', 'attention_mask', 'labels'],
        num_rows: 1301
    })
    validation: Dataset({
        features: ['input_ids', 'attention_mask', 'labels'],
        num_rows: 1248
    })
})

In [14]:
show_random_elements(lm_datasets["train"])

In [15]:
model_checkpoint = "xlm-roberta-base"
model = AutoModelForMaskedLM.from_pretrained(model_checkpoint)

Some weights of the model checkpoint at xlm-roberta-base were not used when initializing XLMRobertaForMaskedLM: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing XLMRobertaForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing XLMRobertaForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
print(
    f"{model_checkpoint} number of parameters: {round(model.num_parameters() / 1_000_000)}M"
)

xlm-roberta-base number of parameters: 278M

In [17]:
training_args = TrainingArguments(
    f"{model_checkpoint}-finetuned-{dataset_name.split('/')[-1]}",
    eval_strategy="epoch",
    learning_rate=2e-5,
    weight_decay=0.01,
)

In [18]:
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer, mlm_probability=0.15
)

In [19]:
small_train_dataset = lm_datasets["train"].shuffle(seed=42).select(range(1000))
small_eval_dataset = lm_datasets["validation"].shuffle(seed=42).select(range(1000))

trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=small_train_dataset,
    eval_dataset=small_eval_dataset,
    data_collator=data_collator,
)

In [20]:
eval_results = trainer.evaluate()
print(f">>> Perplexity: {math.exp(eval_results['eval_loss']):.2f}")

  0%|          | 0/125 [00:00<?, ?it/s]

>>> Perplexity: 24.25

In [21]:
trainer.train()

  0%|          | 0/375 [00:00<?, ?it/s]

  0%|          | 0/125 [00:00<?, ?it/s]

{'eval_loss': 2.0673115253448486, 'eval_model_preparation_time': 0.0016, 'eval_runtime': 27.8459, 'eval_samples_per_second': 35.912, 'eval_steps_per_second': 4.489, 'epoch': 1.0}

  0%|          | 0/125 [00:00<?, ?it/s]

{'eval_loss': 2.0007805824279785, 'eval_model_preparation_time': 0.0016, 'eval_runtime': 27.5371, 'eval_samples_per_second': 36.315, 'eval_steps_per_second': 4.539, 'epoch': 2.0}

  0%|          | 0/125 [00:00<?, ?it/s]

{'eval_loss': 1.9776479005813599, 'eval_model_preparation_time': 0.0016, 'eval_runtime': 28.2579, 'eval_samples_per_second': 35.388, 'eval_steps_per_second': 4.424, 'epoch': 3.0}
{'train_runtime': 1192.1127, 'train_samples_per_second': 2.517, 'train_steps_per_second': 0.315, 'train_loss': 2.5689215494791666, 'epoch': 3.0}

TrainOutput(global_step=375, training_loss=2.5689215494791666, metrics={'train_runtime': 1192.1127, 'train_samples_per_second': 2.517, 'train_steps_per_second': 0.315, 'total_flos': 197909291520000.0, 'train_loss': 2.5689215494791666, 'epoch': 3.0})

In [22]:
eval_results = trainer.evaluate()
print(f">>> Perplexity: {math.exp(eval_results['eval_loss']):.2f}")

  0%|          | 0/125 [00:00<?, ?it/s]

>>> Perplexity: 7.06

In [23]:
trainer.save_model("./my_model")